<div class="main-container" >
    <div class="left-content" *ngIf="selectedInvoice">
        <div class="header">
            <div (click)="onBack()">
                <mat-icon>arrow_back_ios</mat-icon>
            </div>
            <p class="content-left" >Invoice Detail</p>
        </div>
        <div class="line"></div>
        <div >
            <div class="partial-container">
                <div class="title">General information</div>
                <div class="row">
                    <div class="custom-field-s">
                        <div class="label">Code:</div>
                        <div class="content">{{selectedInvoice.invoiceCode}}</div>
                    </div>
                    <div class="custom-field-s">
                        <div class="label">Created By:</div>
                        <div class="content">{{selectedInvoice.creatorName}}</div>
                    </div>
                    <div class="custom-field-s">
                        <div class="label">Created Date:</div>
                        <div class="content">{{selectedInvoice.createdDate}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="custom-field-s">
                        <div class="label">Customer:</div>
                        <!-- <div class="content">{{selectedOrder.customerName}}</div> -->
                    </div>
                    <div class="custom-field-s">
                        <div class="label">Status:</div>
                        <div class="content">{{selectedInvoice.status}}</div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="partial-container"  id="test">
                <div class="title">Order list</div>
                <div class="row">
                    <app-home-table-list
                    class="order-list"
                    [title]="'Order List'"
                    [data]="orderList"
                    [columnName]="columnName"
                    [columnToProperty]="columnToProperty"
                    [checkbox]="false"
                    [select]="onViewClick"
                    [key]="'orderId'"
                    [paginating]="false"
                    [header]="false"
                    [more]="false"
                    [useDefaultStatusColumn]="false"
                    >
                    </app-home-table-list>
                </div>
            </div>
            <div class="line"></div>
            <div class="partial-container">
                <div class="order-footer">
                    <div class="row">
                        <div class="footer-title"> Tax:</div>
                        <div class="footer-content"> {{selectedInvoice.totalTax}}</div>
                    </div>
                    <div class="row">
                        <div class="footer-title"> Total discount:</div>
                        <div class="footer-content"> {{selectedInvoice.totalDiscount}}</div>
                    </div>
                    <div class="row">
                        <div class="footer-title"> Total :</div>
                        <div class="footer-content"> {{selectedInvoice.total}} </div>
                    </div>
                </div>
            </div>

            <div class="form-footer" *ngIf="selectedInvoice.status !== 'CANCEL'">
                <button mat-button class="green-custom-button"  *ngIf="selectedInvoice.status !== 'PAID'" (click)="onPay()">
                    <mat-icon>attach_money</mat-icon> Pay
                </button>
                <button mat-button class="green-custom-button" (click)="printPage()" >
                    <mat-icon>print</mat-icon> Print
                </button>
                <button class="red-custom-button" mat-button *ngIf="selectedInvoice.status !== 'PAID'" (click)="onCancel()"> 
                    <mat-icon>delete_outline</mat-icon> Cancel
                </button>
            </div>
        </div>
    </div>
</div>