.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;

    .table-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 64px;

        .content-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 21px;
            height: 45px;

            .custom-button {
                padding: 8px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20;
                gap: 10px;
                border: 1px solid rgba(0, 0, 0, 0.6);
                border-radius: 4px;

                cursor: pointer;
                &:hover,
                &:focus {
                    background-color: #3a57e8;
                    color: #ffffff;
                    text-decoration: none;
                    border: transparent;
                }

                &:active {
                    background-color: #3a57e8;
                    text-decoration: none;
                    color: #ffffff;
                    border: transparent;
                }
            }

            .search-tool {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 4px 10px;
                gap: 8px;
                height: 90%;
                background: #f0f0f0;
                border: 1px solid #e9ecef;
                box-sizing: border-box;
                border-radius: 4px;

                .mat-icon {
                    color: #000000;
                    font-size: 20px;
                }
            }
        }

        .content-left {
            font-weight: bold;
            font-size: 18px;
        }
    }

    .line {
        width: 100%;
        height: 0px;
        left: 0px;
        margin-bottom: 14px;
        border: 0.5px solid #000000;
    }

    mat-paginator {
        margin-top: 10px;
        border-radius: 8px;
    }

    table {
        width: 100%;

        th.mat-sort-header-sorted {
            color: black;
        }

        .mat-sort-header {
            font-weight: bold;
            font-size: 14px;

        }

        .mat-cell {
            text-align: center;
            justify-content: center;
            overflow-wrap: break-word;
            word-wrap: break-word;
            
            word-break: break-word;
            font-size: 12px;
        }

        .mat-form-field {
            width: 100px;
        }

        .data-column {
            padding: 10px;
        }
    }
}

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.warning-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 8px 24px;
    margin: auto;
    width: 100%;   
    max-width: 120px;
    color: #f16a1b;
    border: 1px solid #f16a1b;
    box-sizing: border-box;
    border-radius: 10px;
}

.success-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 8px 24px;
    margin: auto;
    width: 100%;   
    max-width: 120px;
    color: #1aa053;
    border: 1px solid #1aa053;
    box-sizing: border-box;
    border-radius: 10px;
}

.error-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    margin: auto;
    width: 100%;   
    max-width: 120px;
    color: #c03221;
    border: 1px solid #c03221;
    box-sizing: border-box;
    border-radius: 10px;
}

.pending-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 8px 24px;
    margin: auto;
    max-width: 120px;
    color: #3f51b5;
    border: 1px solid #3f51b5;
    box-sizing: border-box;
    border-radius: 10px;
}

.canceled-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    margin: auto;
    width: 100%;   
    max-width: 120px;
    color: #9c9c9c;
    border: 1px solid #9c9c9c;
    box-sizing: border-box;
    border-radius: 10px;
}
