<div class="main-container">
    <div class="title">Company Setting</div>
    <mat-accordion multi>
        <div>
          <mat-expansion-panel class="mat-elevation-z1">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Company Information
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-company-information></app-company-information>
          </mat-expansion-panel>
          <div class="line"></div>
        </div>
    </mat-accordion>
  </div>
  