<div class="main-container">
    <div class="form-header">
        <button mat-button class="title" (click)="onBack()"><mat-icon>arrow_back_ios
        </mat-icon> Shipment Detail </button>
    </div>
    <form [formGroup]="shipmentForm">
        <div class="partial-container">
            <div class="title">
                <p>Receiver's information</p>
            </div>
            <div class="line"></div>
            <div class="row">
                <div class="custom-field-m">
                    <div class="label">Receiver's name</div>
                    <mat-form-field  appearance="outline" required>
                        <input matInput type="textarea" formControlName="receiverName">
                    </mat-form-field>
                </div>
                <div class="custom-field-m">
                    <div class="label">Contact number</div>
                    <mat-form-field  appearance="outline" required>
                        <input matInput type="number" formControlName="contactNumber">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="custom-field-l">
                    <div class="label">Contact Address</div>
                    <mat-form-field  appearance="outline" required>
                        <input matInput type="text" formControlName="contactAddress">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="partial-container">
            <div class="title">
                <p>Order Information</p>
            </div>
            <div class="line"></div>
            <div class="row">
                <div class="custom-field-m">
                    <div class="label">Customer name</div>
                    <div class="content">{{shipmentForm.value.customerName}}</div>
                </div>
                <div class="custom-field-m">
                    <div class="label">Order Id</div>
                    <div class="content">
                        <button class="link-button" (click)="goToOrder()">{{shipmentForm.value.orderId}}</button>
                    </div>
                </div>
                <div class="custom-field-m">
                    <div class="label">Total price</div>
                    <div class="content">{{shipmentForm.value.totalPrice}}</div>
                </div>
            </div>
        </div>
        <div class="partial-container">
            <div class="title">
                <p>Shipment Information</p>
            </div>
            <div class="line"></div>
            <div class="row">
                <div class="custom-field-m">
                    <div class="label">Creator name</div>
                    <mat-form-field  appearance="outline" required>
                        <input matInput type="textarea" formControlName="creator" readonly>
                    </mat-form-field>
                </div>
                <div class="custom-field-m">
                    <div class="label">Created date</div>
                    <div class="content">{{shipmentForm.value.createdDate}}</div>
                </div>
            </div>
            <div class="row">
                <div class="custom-field-m">
                    <div class="label">Shipment Code</div>
                    <mat-form-field  appearance="outline" required>
                        <input matInput type="textarea" formControlName="shipmentCode">
                    </mat-form-field>
                </div>
                <div class="custom-field-m">
                    <div class="label">Status</div>
                    <mat-form-field  appearance="outline" required>
                        <mat-select formControlName="status">
                            <mat-option *ngFor="let status of shipmentStatusList" [value]="status">
                            {{status}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="form-footer">
            <button class="red-custom-button" mat-button  (click)="onBack()">
                <mat-icon>delete_outline</mat-icon> Cancel
            </button>
            <button mat-button class="green-custom-button"(click)="onUpdateShipment()" [disabled]="!shipmentForm.valid">
                <mat-icon>save</mat-icon> Save
            </button>
        </div>
    </form>
</div>
