.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 15px;
    padding-left: 16px;
    gap: 8px;
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        width: 100%;
        .title {
            font-weight: bold;
            font-size: 18px;
        }
    }
    .edit-button {
        display: none
    }
    .mat-tree-node:hover .edit-button {
        display: block;
    }
}