.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 32px;
    width: auto;
    height: auto;
    background: #FFFFFF;
    border-radius: 8px;
    gap: 16px;
    .mat-tab-group {
        flex-grow: 1;
        width: 100%;
    }
    .form-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 24px;
    }
    
    .form-header .title{
        font-weight: 500;
        font-size: 16px;
    }
    
    form {
        padding-top: 16px;
    }
    
    .partial-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: auto;
    }
    
    .partial-container .title {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        font-weight: 500;
        justify-content: space-between;
        width: 100%;
        color:  #74BFFA;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
        width: 100%;
    }

    .partial-container .mat-tab-group{
        flex-grow: 1;
        

    }
    
    .line {
        width: 100%;
        height: 0px;
        left: 0px;
        margin-bottom: 14px;
        border: 0.5px solid #000000;
    }
    
    .custom-field-s{
        width: 20%;
        padding: 10px 0px;
    }
    
    .custom-field-m{
        width: 65%;
        padding: 10px 0px;
    }
    
    .custom-field-l{
        width: 100%;
        padding: 10px 0px;
    }
    
    .label{
        font-size: 14px;
        font-weight: 500;
    }
    
    mat-form-field {
        width: 100%;
    }
    
    input{
        font-size: 14px;
    }

    mat-radio-button{
        margin: 10px;
    }

    .green-custom-button {
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        width: auto;
        color: #ffffff;
        background-color: #1AA053;
        gap: 16px;
        &:disabled{
            opacity: 0.6;
        }
    }
    .red-custom-button {
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        width: auto;
        color: #ffffff;
        background-color: #C03221;
        gap: 16px;
    }
    
    .mat-icon-button{
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
    
    .custom-mat-icon {
        font-size: 24px;
        color: #8A92A6;
    }
    
    .form-footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        gap: 15px;
    }
    
    .back-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3px 24px;
        color: #FFFFFF;
        background: #3A57E8;
        border-radius: 4px;
        outline: none;
        outline-style: none;
    }
    .list-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 6px;
        gap: 12px;
    }

    .mat-tab-body-content{
        overflow:unset;
    }
}

