
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: auto;
    height: auto;
    border-radius: 8px;
    .left-content {
        flex: 1;
        background-color: #FFFFFF;
        height: fit-content;
        padding: 10px;
        border-radius: 8px;
        .header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 12px 8px;
            .content-left {
                font-weight: bold;
                font-size: 18px;
            }
        }
        .line {
            width: 100%;
            height: 0px;
            left: 0px;
            margin-bottom: 14px;
            border: 0.5px solid #000000;
        }
        .label {
            display: flex;
            flex-direction: row;
            font-weight: bold;
            font-size: 14px;
            padding: 0px 8px;
            justify-content: center;
            gap: 2%;
            .delete,.no,.amount, .price,.total{
                width: 10%;
                vertical-align: top;
            }
            .code {
                width: 15%;
                vertical-align: top;
            }
            .name {
                width: 20%;
                vertical-align: top;
            }
        }
        .import-item{
            display: flex;
            flex-direction: row;
            font-size: 14px;
            align-items: center;
            padding: 0px 8px;
            justify-content: center;
            gap: 2%;
            .delete,.no,.amount, .price,.total{
                width: 10%;
                vertical-align: top;
            }
            .code {
                width: 15%;
                vertical-align: top;
            }
            .name {
                width: 20%;
                vertical-align: top;
            }

        }
        .form-footer{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            gap: 15px;
            .list-button {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                margin: 6px;
                gap: 12px;
                
            }
            .green-custom-button {
                padding: 5px 10px;
                display: flex;
                flex-direction: row;
                width: auto;
                color: #ffffff;
                background-color: #1AA053;
                gap: 16px;
                &:disabled{
                    opacity: 0.6;
                }
            }
            .red-custom-button {
                padding: 5px 10px;
                display: flex;
                flex-direction: row;
                width: auto;
                color: #ffffff;
                background-color: #C03221;
                gap: 16px;
            }
        }

        .partial-container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            width: 100%;
            height: auto;
        }
        
        .partial-container .title {
            display: flex;
            flex-direction: row;
            font-size: 18px;
            font-weight: 500;
            justify-content: space-between;
            width: 100%;
            color:  #74BFFA;
        }
        
        .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 5%;
            width: 100%;
        }
        .custom-field-s{
            width: 30%;
            padding: 10px 0px;
        }
        
        .custom-field-m{
            width: 65%;
            padding: 10px 0px;
        }
        
        .custom-field-l{
            width: 100%;
            padding: 10px 0px;
        }
        
        .label{
            font-size: 14px;
            font-weight: 500;
        }
        
        mat-form-field {
            width: 100%;
        }

        .partial-container .order-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-bottom: 16px;
            .row{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .footer-title {
                    font-weight: 500;
                    text-align: right;
                }
                .footer-content {
                    text-align: right;
                }
            }
        }
    }
    .right-content {
        flex: 0 0 300px;
        width:100%;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 8px;
        .search-tool {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 10px;
            gap: 8px;
            height: 40px;
            background: #f0f0f0;
            border: 1px solid #e9ecef;
            box-sizing: border-box;
            border-radius: 4px;
  
            .mat-icon {
                color: #000000;
                font-size: 20px;
                height: 20px;
                width: 20px;
            }
        }
    }
}

:host ::ng-deep app-home-table-list.product-list{


    table {
        tbody {
            tr {
                &:hover,
                &.active {
                    background-color: #a8b2e685;
                }
                cursor: pointer;
            }
        }
    }
}