<div class="main-container" >
    <div class="left-content" *ngIf="selectedOrder">
        <div class="header">
            <div (click)="onBack()">
                <mat-icon>arrow_back_ios</mat-icon>
            </div>
            <p class="content-left" *ngIf="viewModeCheck" >New Order</p>
            <p class="content-left" *ngIf="!viewModeCheck" >Order Detail</p>
        </div>
        <div class="line"></div>
        <div *ngIf="!viewModeCheck">
            <div class="partial-container">
                <div class="title">General information</div>
                <div class="row">
                    <div class="custom-field-s">
                        <div class="label">Code:</div>
                        <div class="content">{{selectedOrder.orderCode}}</div>
                    </div>
                    <div class="custom-field-s">
                        <div class="label">Created By:</div>
                        <div class="content">{{selectedOrder.creatorName}}</div>
                    </div>
                    <div class="custom-field-s">
                        <div class="label">Created Date:</div>
                        <div class="content">{{selectedOrder.createdDate}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="custom-field-s">
                        <div class="label">Customer:</div>
                        <div class="content">{{selectedOrder.customerName}}</div>
                    </div>
                    <div class="custom-field-s">
                        <div class="label">Price List:</div>
                        <div class="content">{{selectedOrder.priceListName}}</div>
                    </div>
                    <div class="custom-field-s">
                        <div class="label">Status:</div>
                        <div class="content">{{selectedOrder.status}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="!viewModeCheck">
                <div class="line"></div>
                <div class="partial-container">
                    <div class="title">Shipping information</div>
                    <div class="row">
                        <app-home-table-list
                        *ngIf="shipmentList.length > 0"
                        class="shipping-list"
                        [title]="'Shipping List'"
                        [data]="shipmentList"
                        [columnName]="shipmentColumnName"
                        [columnToProperty]="shipmentColumnToProperty"
                        [checkbox]="false"
                        [select]="onViewClick"
                        [more]="false"
                        [paginating]="false"
                        [key]="'shipmentId'"
                        [header]="false"
                        >
                        </app-home-table-list>
                        <div *ngIf="shipmentList.length === 0">
                            There is no shipment
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="partial-container"  id="test">
                <div class="title">Product list</div>
                <div class="row">
                    <div class="import-product-list custom-field-l">
                        <div class="label">
                            <div class="no">No.</div>
                            <div class="code">Code</div>
                            <div class="name">Product</div>
                            <div class="amount">Amount</div>
                            <div class="price">Price</div>
                            <div class="total">Total</div>
                            <div class="delete" *ngIf="viewModeCheck"></div>
                        </div>
                        <div class="import-item" *ngFor="let importProduct of orderProductList">
                            <div class="no">{{importProduct.no}}</div>
                            <div class="code">{{importProduct.productCode}}</div>
                            <div class="name">{{importProduct.productName}}</div>
                            <div class="amount">{{importProduct.amount}}</div>
                            <div class="price">{{importProduct.price}}</div>
                            <div class="total">{{importProduct.price * importProduct.amount}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="partial-container">
                <div class="order-footer">
                    <div class="row">
                        <div class="footer-title"> Total (Exc. Tax):</div>
                        <div class="footer-content"> {{selectedOrder.totalExcludeTax}}</div>
                    </div>
                    <div class="row">
                        <div class="footer-title"> Tax rate (%):</div>
                        <div class="footer-content"> {{selectedOrder.tax}}%</div>
                    </div>
                    <div class="row">
                        <div class="footer-title"> Total tax:</div>
                        <div class="footer-content"> {{selectedOrder.tax * selectedOrder.totalExcludeTax}} </div>
                    </div>
                    <div class="row">
                        <div class="footer-title"> Total (Inc. Tax):</div>
                        <div class="footer-content"> {{selectedOrder.totalIncludeTax}}</div>
                    </div>
                </div>
            </div>

            <div class="form-footer">
                <div 
                [matTooltip]="toolTip"
                [matTooltipDisabled]="confirmCheck" >
                <button 
                    mat-button 
                    *ngIf="selectedOrder.status === 'WAITING'" 
                    class="green-custom-button" 
                    (click)="onConfirm()" 
                    [disabled]="!confirmCheck"
                    >
                    <mat-icon>check</mat-icon> Confirm
                </button>
                </div>
                <button mat-button class="green-custom-button" (click)="toInvoice()">
                    <mat-icon>receipt</mat-icon> Invoice
                </button>
                <button mat-button class="green-custom-button" *ngIf="newShipment"  (click)="createNewShipment()">
                    <mat-icon>local_shipping</mat-icon> New shipment
                </button>

                <button mat-button class="green-custom-button" (click)="printPage()">
                    <mat-icon>print</mat-icon> Print
                </button>
                <button class="red-custom-button" mat-button  (click)="onCancel()"> 
                    <mat-icon>delete_outline</mat-icon> Cancel
                </button>
            </div>
        </div>

        <div *ngIf="viewModeCheck">
            <div class="partial-container">
                <div class="title">General information</div>
                <!-- <div class="row">
                <div class="custom-field-s">
                    <div class="label">Created By: </div>
                    <mat-form-field  appearance="outline" required>
                        <input disabled matInput type="text" [(ngModel)]="selectedOrder.creatorName">
                    </mat-form-field>
                </div>
                <div class="custom-field-s">
                    <div class="label">Order Code: </div>
                    <mat-form-field  appearance="outline" required>
                        <input  matInput type="text" [(ngModel)]="selectedOrder.orderCode" readonly>
                    </mat-form-field>
                </div>
                <div class="custom-field-s">
                    <div class="label">Created Date:</div>
                    <mat-form-field  appearance="outline" required>
                        <input matInput type="date" [(ngModel)]="selectedOrder.createDate" (ngModelChange)="check()">
                    </mat-form-field>
                </div>
                </div> -->
                <div class="row">
                <div class="custom-field-s">
                    <div class="label">Customer:</div>
                    <mat-form-field  appearance="outline" required>
                        <mat-select [(ngModel)]="selectedOrder.customerId" (ngModelChange)="check()">
                            <mat-option *ngFor="let customer of customerList" [value]="customer.customerId">
                            {{customer.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                    <div class="custom-field-s">
                        <div class="label">Price List:</div>
                        <mat-form-field  appearance="outline" required>
                            <mat-select [(ngModel)]="selectedOrder.priceListId" (ngModelChange)="getProductPriceList(selectedOrder.priceListId)">
                                <mat-option *ngFor="let priceList of priceListList" [value]="priceList.id">
                                {{priceList.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="custom-field-s">
                        <mat-checkbox [(ngModel)]="selectedOrder.shipping">Shipping</mat-checkbox>
                    </div>
                </div>
            </div>
            <div *ngIf="!viewModeCheck">
                <div class="line"></div>
                <div class="partial-container">
                    <div class="title">Shipping information</div>
                    <div class="row">
                        <app-home-table-list
                        class="shipping-list"
                        [title]="'Shipping List'"
                        [data]="shipmentList"
                        [columnName]="shipmentColumnName"
                        [columnToProperty]="shipmentColumnToProperty"
                        [checkbox]="false"
                        [select]="onViewClick"
                        [more]="false"
                        [key]="'shipmentId'"
                        [header]="false"
                      >
                      </app-home-table-list>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="partial-container">
                <div class="title">Product list</div>
                <div class="row">
                    <div class="import-product-list custom-field-l">
                        <div class="label">
                            <div class="no">No.</div>
                            <div class="code">Code</div>
                            <div class="name">Product</div>
                            <div class="amount">Amount</div>
                            <div class="price">Price</div>
                            <div class="total">Total</div>
                            <div class="delete" *ngIf="viewModeCheck"></div>
                        </div>
                        <div class="import-item" *ngFor="let importProduct of orderProductList">
                            <div class="no">{{importProduct.no}}</div>
                            <div class="code">{{importProduct.productCode}}</div>
                            <div class="name">{{importProduct.productName}}</div>
                            <mat-form-field class="amount" appearance="outline"><input [(ngModel)]=importProduct.amount (ngModelChange)="reCalculateTotal()" matInput type="number"></mat-form-field>
                            <div class="price">{{importProduct.price}}</div>
                            <div class="total">{{importProduct.price * importProduct.amount}}</div>
                            <button *ngIf="viewModeCheck" class="delete" mat-icon-button (click)="delete(importProduct.productId)"><mat-icon>close</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="partial-container">
                <div class="order-footer">
                    <div class="row">
                        <div class="footer-title"> Subtotal:</div>
                        <div class="footer-content"> {{selectedOrder.totalExcludeTax}}</div>
                    </div>
                    <div class="row">
                        <div class="footer-title"> Tax rate(%):</div>
                        <div class="footer-content">
                            <div class="custom-form-field">
                                <mat-form-field appearance="legacy">
                                    <input type="number" class="tax" [(ngModel)]="selectedOrder.tax" (ngModelChange)="reCalculateTotal()" matInput>
                                    <span matSuffix>%</span>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="footer-title"> Total tax:</div>
                        <div class="footer-content">{{selectedOrder.tax * selectedOrder.totalExcludeTax}}</div>
                    </div>
                    <div class="row">
                        <div class="footer-title"> Total:</div>
                        <div class="footer-content"> {{selectedOrder.totalIncludeTax.toFixed(2)}} </div>
                    </div>
                </div>
            </div>

            <div class="form-footer">
                <button mat-button class="green-custom-button" [disabled]="!saveCheck" (click)="onSave()" >
                    <mat-icon>save</mat-icon> Save
                </button>
                <button class="red-custom-button" mat-button  (click)="onBack()"> 
                    <mat-icon>delete_outline</mat-icon> Cancel
                </button>
                
            </div>
        </div>
    </div>
    <div class="right-content"  *ngIf="viewModeCheck">
        <div class="search-tool">
            <mat-icon> search </mat-icon>
            <mat-form-field>
                <input matInput #search type="text" (keyup)="applyFilter(searchKeyword)" [(ngModel)]="searchKeyword">
                <button *ngIf="searchKeyword" matSuffix mat-icon-button aria-label="Clear" (click)="searchKeyword = ''; applyFilter(searchKeyword)">
                    <mat-icon> close </mat-icon>
                </button>
            </mat-form-field>
        </div>
        <app-home-table-list
        class="product-list"
        [data]="showProductList"
        [columnName]="productColumnName"
        [columnToProperty]="productColumnToProperty"
        [checkbox]="false"
        [header]="false"
        [more]="false"
        [select]="addToImport"
        [key]="'productId'"
        >
        </app-home-table-list>
    </div>
</div>