<div class="main-container">
    <div class="left-content">
        <div class="header">
            <div (click)="onBack()">
                <mat-icon>arrow_back_ios</mat-icon>
            </div>
            <p class="content-left" *ngIf="viewModeCheck" >New Order</p>
            <p class="content-left" *ngIf="!viewModeCheck" >Order Detail</p>
        </div>
        <div class="line"></div>
        <div class="partial-container">
            <div class="title">General Information</div>
            <div class="row">
            <div class="custom-field-s">
                <div class="label">Created By:</div>
                <mat-form-field  appearance="outline" required>
                    <input disabled matInput type="text" value="Gia Hung">
                </mat-form-field>
            </div>
            <div class="custom-field-s">
                <div class="label">Created Date:</div>
                <mat-form-field  appearance="outline" required>
                    <input matInput type="date">
                </mat-form-field>
            </div>
            <div class="custom-field-s">
                <div class="label">Customer:</div>
                <mat-form-field  appearance="outline" required>
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option>
                          A
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="import-product-list">
            <div class="label">
                <div class="no">No.</div>
                <div class="code">Product Code</div>
                <div class="name">Product Name</div>
                <div class="amount">Amount</div>
                <div class="delete" *ngIf="viewModeCheck"></div>
            </div>
            <div class="import-item" *ngFor="let importProduct of importProductList">
                <div class="no">{{importProduct.no}}</div>
                <div class="code">{{importProduct.productId}}</div>
                <div class="name">{{importProduct.productName}}</div>
                <mat-form-field class="amount" appearance="outline"><input [value]=importProduct.amount matInput type="number"></mat-form-field>
                
                <button *ngIf="viewModeCheck" class="delete" mat-icon-button (click)="delete(importProduct.productId)"><mat-icon>close</mat-icon></button>
            </div>
        </div>
        <div class="line"></div>
        <div class="form-footer">
            <button mat-button class="green-custom-button">
                <mat-icon>save</mat-icon> Save
            </button>
            <button class="red-custom-button" mat-button  (click)="onBack()"> 
                <mat-icon>delete_outline</mat-icon> Cancel
            </button>
        </div>
    </div>
    <div class="right-content"  *ngIf="viewModeCheck">
        <div class="search-tool">
            <mat-icon> search </mat-icon>
            <mat-form-field>
                <input matInput #search type="text" (keyup)="applyFilter(searchKeyword)" [(ngModel)]="searchKeyword">
                <button *ngIf="searchKeyword" matSuffix mat-icon-button aria-label="Clear" (click)="searchKeyword = ''; applyFilter(searchKeyword)">
                    <mat-icon> close </mat-icon>
                </button>
            </mat-form-field>
        </div>
        <app-home-table-list
        class="product-list"
        [data]="showProductList"
        [columnName]="columnName"
        [columnToProperty]="columnToProperty"
        [checkbox]="false"
        [header]="false"
        [more]="false"
        [select]="addToImport"
        [key]="'productId'"
        >
        </app-home-table-list>
    </div>
</div>