<div class="main-container">

    <form [formGroup]="changePasswordForm">
        <div class="title">Change password</div>
        <div class="line"></div>
        <div class="partial-container" >
            <div class="custom-field-s">
                <div class="label">Old password <span class="required">*</span></div>
                <mat-form-field appearance="legacy" required>
                    <input matInput type="password" (keypress)="onChangeEvent()" formControlName="oldPassword">
                </mat-form-field>
            </div>
            <div class="custom-field-s">
                <div class="label">New password <span class="required">*</span></div>
                <mat-form-field appearance="legacy" required>
                    <input matInput type="password" formControlName="newPassword">
                </mat-form-field>
            </div>
            <div class="custom-field-s">
                <div class="label">Confirm new password <span class="required">*</span></div>
                <mat-form-field appearance="legacy" required>
                    <input matInput type="password" formControlName="confirmPassword">
                </mat-form-field>
            </div>
            
        </div>
        <div class="error" *ngIf="changePasswordForm.errors && changePasswordForm.errors['notSame']">Confirm password is incorrect</div>
        <div class="error" *ngIf="oldPasswordError.check">{{oldPasswordError.message}}</div>
        <div class="form-footer">
            <button class="green-custom-button" mat-button (click)="onSave()" [disabled]="!changePasswordForm.valid">
                <mat-icon>save</mat-icon> Save
            </button>
        </div>
    </form>
</div>