.main-container {
    width: 100%;
    background-color: #FFFFFF;
    height: fit-content;
    border-radius: 8px;
    padding-top: 8px;
    .body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        gap: 10px;
    }
    
    .body app-home-table-list {
        flex-grow: 1;
    }
    
    .line {
        width: 0px;
        height: auto;
        left: 0px;
        margin-bottom: 14px;
        border: 0.5px solid #e9ecef;
    }
}
:host ::ng-deep app-home-table-list.import-list{


    table {
        tbody {
            tr {
                &:hover,
                &.active {
                    background-color: #a8b2e685;
                }
                cursor: pointer;
            }
        }
    }
}
